<div class="modal">
  <div class="modal-content">
    <form>
      <div class="modal-header">
        <div class="stack">
          <span class="modal-title">Expenses Of {{ budget.name }} </span>
          <button
            class="button-outlined"
            (click)="removeBudget(budget.id); closeModal()"
          >
            Delete Budget
          </button>
        </div>

        <span class="close-btn" (click)="closeModal()" (keypress)="closeModal()"
          >&times;</span
        >
        <hr />
      </div>

      <div class="modal-body">
        <div class="column" *ngFor="let expense of expenses">
          <div>{{ expense.description }}</div>
          <div>{{ formatCurrency(expense.amount) }}</div>
          <button (click)="removeExpense(expense.id)">&times;</button>
        </div>
        <hr />
      </div>
    </form>
  </div>
</div>
