<!--TODO: Add outline for exceeding budget-->
<!--TODO: Add progress bar animation-->
<div class="budget-card">
  <div class="card-body">
    <h3 class="card-title">{{ name }}</h3>
    <p class="card-currency">
      {{ formatCurrency(amount) }} / {{ formatCurrency(max) }}
    </p>
    <app-progress-bar [value]="amount" [max]="max"></app-progress-bar>
    <div class="align-left">
      <button
        class="button-outlined"
        (click)="openAddExpenseModal()"
        (close)="closeModal()"
      >
        Add Expense
      </button>
      <button
        class="button-outlined"
        (click)="openViewExpensesModal()"
        (close)="closeModal()"
      >
        View Expenses
      </button>
    </div>
  </div>
</div>
