<div class="container">
  <div class="stack">
    <h1>Budgets</h1>
    <button (click)="showAddBudgetModal()">Add Budget</button>
    <button>Add Expense</button>
  </div>
  <div class="budget-cards">
    <div *ngFor="let budget of budgets">
      <app-budget-card
        [name]="budget.name"
        [amount]="budget.amount"
        [max]="budget.max"
      ></app-budget-card>
    </div>
    <!-- <div class="message" *ngIf="budgets.length === 0">
      <p>No budgets have been added yet.</p>
    </div> -->
  </div>
  <app-add-budget-modal
    *ngIf="isAddBudgetModalVisible"
    (close)="closeAddBudgetModal()"
  ></app-add-budget-modal>
</div>
